body {
  background-color: #f0f8ff;
}

.weather-cards {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
